.hand {
  display:flex;
  flex-direction:row;
  width:70vw;
  height:100px;
  justify-content:space-around;
  align-items: center;
  border: solid ;

}

.hand-head {
  display:flex;
  flex-direction:column;
  width:70px;
  height:90%;
  justify-content:space-around;
  align-items: center;
  align-content: space-around;
  border: solid ;
}

.hand-mentsu {
  display:flex;
  flex-direction:column;
  width:70px;
  height:90%;
  justify-content:space-around;
  align-items: center;
  align-content: space-around;
  border: solid ;
}