.hand {
  display:flex;
  flex-direction:row;
  height:80px;
  justify-content:space-around;
  align-items: center;
  border: solid ;

}

.hand-head {
  display:flex;
  flex-direction:column;
  width:20vw;
  height:90%;
  justify-content:space-around;
  align-items: center;
  align-content: space-around;
  border: solid ;
}

.hand-mentsu {
  display:flex;
  flex-direction:column;
  width:15vw;
  height:90%;
  justify-content:space-around;
  align-items: center;
  align-content: space-around;
  border: solid ;
}